[submodule "libs/aries"]
	path = src/tyr/planners/planners/aries
	url = https://github.com/plaans/aries.git
[submodule "src/tyr/planners/planners/optic"]
	path = src/tyr/planners/planners/optic
	url = https://github.com/plaans/tyr-optic.git
[submodule "src/tyr/planners/planners/pandapi"]
	path = src/tyr/planners/planners/pandapi
	url = https://github.com/plaans/tyr-pandapi.git
[submodule "src/tyr/planners/planners/popf"]
	path = src/tyr/planners/planners/popf
	url = https://github.com/plaans/tyr-popf.git
